.auth-container {
    display: grid;
    grid-template-columns: auto 1fr;

    .img-guitar {
        width: 46vw;
        height: 100vh;
        background-position: 100% 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .auth-form {
        display: grid;
        justify-content: center;
        align-content: center;
        align-items: start;
        padding: 0 40px;

        .heading-logo {
            margin-bottom: 20px;
        }

        p {
            font-family: "Roboto Condensed";
            font-size: 16px;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 400;
            text-align: center;

            a {
                margin: 0 4px;
                color: #008FAF;
                text-decoration: none;
                padding: 2px 6px;
                outline: none;
                transition: all var(--transition-duration) var(--transition-timing-function);

                &:hover {
                    background-color: #00AED4;
                    color: #ffffff;
                }
            }
        }

        .react-aria-Form {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 34px;

            .react-aria-TextField {
                display: flex;
                flex-direction: column;
                width: 400px;

                .react-aria-Input {
                    font-family: "Roboto Condensed";
                    font-size: 18px;
                    font-weight: 400;
                    letter-spacing: 1px;
                    width: 400px;
                    height: 48px;
                    background-color: #f5f5f5;
                    border: none;
                    border-radius: 0;
                    outline: none;
                    padding: 10px 24px;

                    &::placeholder {
                        font-weight: 500;
                        font-size: 16px;
                        text-transform: uppercase;
                    }
                }
            }

            .react-aria-Button {
                height: 48px;
                width: 100%;
                color: var(--primary-color);
                font-family: "Roboto Condensed";
                font-size: 16px;
                font-weight: 500;
                line-height: 150%;
                letter-spacing: 3px;
                text-transform: uppercase;
                padding: 10px 46px;
                border: solid 2px var(--primary-color);
                border-radius: 0;
                background-color: transparent;
                outline: none;
                cursor: pointer;
                transition: all var(--transition-duration) var(--transition-timing-function);
                margin: 0 0 16px 0;

                &[data-hovered] {
                    background-color: var(--primary-color);
                    color: var(--secondary-color);
                }

                &[data-pressed] {
                    background-color: var(--primary-color);
                    color: var(--secondary-color);
                }
            }
        }

        span {
            height: 16px;
        }

        .react-aria-FieldError {
            font-size: 14px;
            font-family: "Roboto";
            font-weight: 400;
            color: #EF0000;
            margin-top: 4px;
        }

        span.error {
            font-size: 14px;
            font-family: "Roboto";
            font-weight: 400;
            color: #EF0000;
            margin-top: 4px;
        }

        span.error-general {
            font-size: 14px;
            font-family: "Roboto";
            font-weight: 400;
            color: #EF0000;
            margin-top: -40px;
            margin-bottom: 40px;
        }

        .password-field {
            display: grid;
            grid-template-areas:
                "input button"
                "help help";
            grid-template-columns: 1fr auto;
            align-items: center;
            width: fit-content;

            .react-aria-Input {
                grid-area: input;
                padding: 10px 50px 10px 24px;
                margin: 0;
                height: 48px;
                width: 400px;
                border: none;
                border-radius: 0;
                background: #f5f5f5;
                font-size: 18px;
                font-family: "Roboto Condensed";
                letter-spacing: 1px;
                font-weight: 400;
                color: #000000;
                outline: none;

                &::placeholder {
                    font-weight: 500;
                    font-size: 16px;
                    text-transform: uppercase;
                }

            }

            .material-symbols-outlined {
                grid-area: button;
                width: 28px;
                height: 28px;
                margin-left: -44px;
                font-size: 28px;
                line-height: 100%;
                vertical-align: middle;
                text-align: center;
                background: transparent;
                color: #666666;
                border: none;
                padding: 0;
                cursor: pointer;
                outline: none;
                transition: all var(--transition-duration) var(--transition-timing-function);

                &[data-pressed] {
                    background: transparent;
                }
            }
        }
    }
}

@media only screen and (max-width: 934px) {

    .auth-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        height: 100vh;
        width: 100%;
    }

    .auth-container .img-guitar {
        display: none;
    }

    .auth-form {
        padding: 0 20px;
        margin-top: 40px;
    }
}

@media only screen and (max-width: 479px) {

    .auth-form .react-aria-Input,
    .auth-form .react-aria-TextField,
    .auth-container .auth-form,
    .auth-form .password-field,
    .auth-form button.react-aria-Button {
        min-width: 280px;
        max-width: 340px;
    }
}