nav {
    display: flex;
    justify-self: end;
    align-items: center;

    .icon-button {
        padding: 10px 0;
        margin: 0 0 0 32px;
        opacity: 0.8;

        &:hover {
            opacity: 1;
        }
    }
}

.popover {
    .accent-button span {
        transition: all var(--transition-duration) var(--transition-timing-function);
        color: var(--secondary-color);
    }

    .accent-button[data-hovered] span {
        color: var(--primary-color);
    }
}