footer {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 40px 10px 40px;
    background-color: var(--bg-header-footer-color);
}

footer>.subscribe-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;
}

footer .react-aria-Form {
    display: flex;
    flex-wrap: nowrap;
}

footer .react-aria-Input {
    height: 48px;
    width: 340px;
    margin-right: 14px;
    font-family: "Roboto Condensed";
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 0 14px;
    border: none;
    border-radius: 0;
}

footer .react-aria-Input[data-focused] {
    outline: none;
}

footer>.social-media {
    margin: 10px 0;
}

footer>.social-media>img {
    opacity: 0.8;
    width: 32px;
    height: 32px;
    margin: 18px;
    transition: all var(--transition-duration) var(--transition-timing-function);
}

footer>.social-media>img:hover {
    opacity: 1;
    transform: scale(1.1);
}

footer>.copyright {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding-top: 14px;
    width: 100%;
    border-top: solid 1px var(--divider-color);
    opacity: 0.6;
}

footer>.copyright>p {
    color: var(--secondary-color);
    font-weight: 300;
    margin-right: 20px;
}

footer .terms {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
}

@media only screen and (max-width: 934px) {

    footer .react-aria-Form,
    footer>.subscribe-section {
        flex-wrap: wrap;
        width: 80%;
        justify-content: center;
    }

    footer .white-button,
    footer>.subscribe-section>.react-aria-Form>.react-aria-TextField>.react-aria-Input {
        width: 100%;
        margin: 0;
        margin-top: 14px;
    }

    footer>.subscribe-section>p {
        text-align: center;
        margin-right: 0;
    }

    footer {
        padding: 20px 20px 10px 20px;
    }
}

@media only screen and (max-width: 600px) {

    footer .react-aria-Form {
        width: 100%;
    }

    footer .copyright {
        flex-direction: column;
        align-items: center;
        margin-right: 0;

        p {
            text-align: center;
        }
    }

    footer .terms {
        justify-content: start;
    }

    footer .terms>.terms-link:first-child {
        margin-left: 0;
    }
}