.react-aria-TextField {
    display: flex;
    flex-direction: column;
    width: 400px;

    .react-aria-Input {
        font-family: "Roboto Condensed";
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 1px;
        width: 400px;
        height: 48px;
        background-color: #f5f5f5;
        border: none;
        border-radius: 0;
        outline: none;
        padding: 10px 24px;

        &::placeholder {
            font-weight: 500;
            font-size: 16px;
            text-transform: uppercase;
        }
    }
}

span.error {
    height: 16px;
    font-size: 14px;
    font-family: "Roboto";
    font-weight: 400;
    color: #EF0000;
    margin-top: 4px;
}