.auth-wrapper {
    display: grid;
    grid-template-columns: auto 1fr;

    .img-guitar {
        width: 46vw;
        height: 100vh;
        background-position: 100% 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .auth-form {
        display: grid;
        justify-content: center;
        align-content: center;
        align-items: start;
        padding: 0 40px;

        .heading-logo {
            margin-bottom: 20px;
        }
    }
}


@media only screen and (max-width: 1023px) {

    .auth-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        height: 100vh;
        width: 100%;
    }

    .auth-form {
        padding: 0 20px;
        margin-top: 40px;
    }
}