p {
    font-family: "Roboto Condensed";
    font-weight: 400;
}

p.bold {
    font-weight: 600;
}

p.light {
    color: var(--primary-color);
}

p.dark {
    color: var(--secondary-color);
}

p.text-large {
    font-size: 20px;
    color: #646464;
    line-height: 120%;
    text-transform: uppercase;
    margin: 10px 0;
}

p.text-medium {
    position: absolute;
    top: 378px;
    color: #646464;
    font-family: "Roboto Condensed";
    text-transform: uppercase;
    margin: 2px 30px;
}


p.text-small {
    font-family: "Roboto";
    font-size: 16px;
    line-height: 150%;
    text-transform: none;
}