:root {
    --transition-duration: 0.35s;
    --transition-timing-function: ease-in-out;
    --primary-color: #000000;
    --secondary-color: #FFFFFF;
    --divider-color: #CCCCCC;
    --bg-primary-color: #FFFFFF;
    --bg-secondary-color: #F5F5F5;
    --bg-header-footer-color: #000000;
    --placeholder-color: #3B3B3B;
    --border-color: #000000;
    --border-radius: 16px;
}

.product-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 0;
    align-items: center;
}

.product-container>.wrap {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    max-width: 680px;
}

.product-content>article {
    margin: 0 0 60px 0;
}

.product-content h2 {
    font-family: "Bebas Neue";
    font-size: 32px;
    line-height: 130%;
    padding: 10px 0 14px 0;
    border-bottom: solid 1px var(--divider-color);
}

.product-content h2:first-child {
    margin-top: 0;
    padding: 0 0 14px 0;
}

.product-content p {
    font-family: "Roboto";
    font-size: 16px;
    line-height: 150%;
}

.product-content th {
    font-weight: 600;
    text-transform: uppercase;
    text-align: start;
    width: 200px;
    margin: 0 24px 0 0;
}

.product-content ul {
    list-style-type: disc;
    margin: 0;
    padding-left: 20px;
}

.product-content li {
    margin: 28px 0;
}

.product-content li>p {
    padding-left: 10px;
}