header {
    display: flex;
    height: 48px;
    width: 100%;
    padding: 0 40px;
    position: relative;
    top: 0;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-header-footer-color);
}

@media only screen and (max-width: 934px) {

    header {
        padding: 0 20px;
    }
}