.react-aria-Popover {
    --background-color: #FFFFFF;

    max-width: unset;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 24px;
    border: none;
    outline: none;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;


    .react-aria-OverlayArrow svg {
        display: block;
        fill: var(--background-color);
        stroke: #FFFFFF;
        stroke-width: 1px;
    }

    &[data-placement=top] {
        --origin: translateY(8px);

        &:has(.react-aria-OverlayArrow) {
            margin-bottom: 6px;
        }
    }

    &[data-placement=bottom] {
        --origin: translateY(-8px);

        &:has(.react-aria-OverlayArrow) {
            margin-top: 6px;
        }

        .react-aria-OverlayArrow svg {
            transform: rotate(180deg);
        }
    }

    &[data-placement=right] {
        --origin: translateX(-8px);

        &:has(.react-aria-OverlayArrow) {
            margin-left: 6px;
        }

        .react-aria-OverlayArrow svg {
            transform: rotate(90deg);
        }
    }

    &[data-placement=left] {
        --origin: translateX(8px);

        &:has(.react-aria-OverlayArrow) {
            margin-right: 6px;
        }

        .react-aria-OverlayArrow svg {
            transform: rotate(-90deg);
        }
    }

    &[data-entering] {
        animation: popover-slide 200ms;
    }

    &[data-exiting] {
        animation: popover-slide 200ms reverse ease-in;
    }

    .react-aria-Dialog {
        outline: none;
    }
}

.popover {
    margin: 14px;
}

@keyframes popover-slide {
    from {
        transform: var(--origin);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}