.container {
    display: grid;
    grid-template-columns: 160px 4fr;
    gap: 80px;
    margin: 22px auto 120px auto;
    width: 1672px;
    padding: 0 40px;
}

.catalogue-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 320px);
    gap: 24px;
    margin: 20px 0;
}

/* There is no mobile yet

@media only screen and (max-width: 934px) {

    .catalogue-container {
        justify-content: center;
        margin: 40px 20px;
    }
} */


@media only screen and (max-width: 1671px) {

    .container {
        width: 1328px;
    }
}

@media only screen and (max-width: 1327px) {

    .container {
        width: 984px;
    }
}