.container {
    display: grid;
    grid-template-columns: 160px 4fr;
    gap: 80px;
    margin: 22px auto 120px auto;
    width: 1672px;
    padding: 0 40px;
}

.catalogue-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 320px);
    gap: 24px;
    margin: 20px 0;
    content-visibility: auto;
}

@media only screen and (max-width: 1671px) {

    .container {
        width: 1328px;
    }
}

@media only screen and (max-width: 1327px) {

    .container {
        width: 984px;
    }
}

@media only screen and (max-width: 1023px) {

    .container>.filters-container {
        display: none;
    }

    .container {
        grid-template-columns: auto;
        justify-content: center;
        align-items: center;
        width: 664px;

        .catalogue-container {
            width: 664px;
            justify-self: center;
        }
    }
}

@media only screen and (max-width: 710px) {

    .container {
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        width: 320px;

        .catalogue-container {
            display: flex;
            flex-direction: column;
            width: 320px;
        }
    }

    .product-card:hover {
        transform: none;
    }
}

@media only screen and (max-width: 710px) {
    .catalogue-container {
        margin: 60px 0;
    }
}

@media only screen and (max-width: 360px) {
    .product-card {
        transform: scale(0.9);
    }

    .catalogue-container {
        margin: 20px 0;
    }
}