.react-aria-DateRangePicker {
    color: black;
    margin: 20px 0;

    .react-aria-Group {
        display: flex;
        align-items: center;
        width: fit-content;
        min-width: 160px;
        max-width: 100%;
        height: 70px;
        box-sizing: border-box;
        overflow: auto;
        position: relative;
        padding: 4px 4px 4px 8px;
        border: none;
        border-radius: 0;
        background: #f5f5f5;
        white-space: nowrap;
        margin: 14px 0;

        &[data-pressed] {
            box-shadow: none;
            background: transparent;
        }

        &[data-focus-within] {
            outline: none;
        }
    }

    [slot=start]+span {
        padding: 0 4px;
    }

    [slot=end] {
        margin-right: 2rem;
        flex: 1;
    }

    .react-aria-Button {
        border: none;
        color: #353535;
        background-color: transparent;
        forced-color-adjust: none;
        border-radius: 0px;
        border: none;
        margin-left: auto;
        width: 28px;
        height: 28px;
        padding: 0;
        font-size: 22px;
        box-sizing: content-box;
        flex-shrink: 0;
        position: sticky;
        right: 4px;
        cursor: pointer;

        &[data-focus-visible] {
            outline: none;
        }

        &[data-focused] {
            outline: none;
        }
    }

    .react-aria-DateInput {
        font-size: 16px;
        font-family: "Roboto Condensed";
        font-weight: 300;
        display: flex;
        width: unset;
        min-width: unset;
        padding: unset;
        border: unset;
        outline: unset;

        .react-aria-DateSegment[data-focused] {
            outline: 2px solid #0cadd9;
            border-radius: 2px;
        }
    }
}

.react-aria-Popover[data-trigger=DateRangePicker] {
    max-width: unset;
    background-color: #ffffff;
    box-shadow: none;
    border-radius: 16px;
    padding: 20px;
}


.react-aria-RangeCalendar {
    width: fit-content;
    max-width: 100%;
    color: black;
    font-family: "Roboto Condensed";
    background-color: #ffffff;
    border-radius: 16px;

    header {
        display: flex;
        align-items: center;
        margin: 0 0 20px 0;
        background-color: white;

        .react-aria-Button>.material-symbols-outlined {
            color: #353535;
        }

        .react-aria-Heading {
            flex: 1;
            margin: 0;
            text-align: center;
            font-size: 22px;
            text-transform: uppercase;
            font-weight: 500;
            color: black;
        }
    }

    .react-aria-CalendarGridHeader {
        .react-aria-CalendarHeaderCell {
            font-weight: 500;
        }
    }

    .react-aria-Button {
        width: 2rem;
        height: 2rem;
        padding: 0;
        color: #353535;
        outline: none;
    }

    .react-aria-CalendarCell {
        font-weight: 300;
        width: 34px;
        line-height: 34px;
        text-align: center;
        border-radius: 6px;
        cursor: default;
        outline: none;
        margin: 1px;
        forced-color-adjust: none;

        &[data-outside-month] {
            display: none;
        }

        &[data-pressed] {
            background: #f5f5f5;
        }

        &[data-focus-visible] {
            outline: 2px solid #0cadd9;
            outline-offset: 2px;
        }

        &[data-selected] {
            background: #9ddef0;
            color: black;
            border-radius: 20px;
        }
    }
}