.product-card {
    position: relative;
    width: 320px;
    min-width: 320px;
    scale: none;
    aspect-ratio: 9/14;
    overflow: hidden;
    border-radius: 16px;
    cursor: pointer;

    .product-card-content {
        position: relative;
        width: 320px;
        min-width: 320px;
        scale: none;
        aspect-ratio: 9/14;
        overflow: hidden;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        background-color: var(--bg-secondary-color);
    }

    .spinner {
        margin: 0 134px;
    }

    &:hover .product-card-img {
        transform: rotate(-90deg) scale(1.04);
    }

    &:hover .product-card-actions>.product-card-additional-actions {
        opacity: 1;
    }

    .product-card-actions {
        display: flex;
        flex-direction: column;
        gap: 8px;
        position: absolute;
        top: 18px;
        right: 18px;
        z-index: 2;

        .product-card-additional-actions {
            display: flex;
            flex-direction: column;
            gap: 8px;
            opacity: 0;
            transition: all var(--transition-duration) var(--transition-timing-function);
            pointer-events: auto;

            &:has(button.material-symbols-outlined[data-pressed="true"]) {
                opacity: 1;

                button.material-symbols-outlined[data-pressed="true"] {
                    opacity: 1;
                }
            }
        }

        button.material-symbols-outlined,
        button.material-symbols-filled.outlined {
            transition: all var(--transition-duration) var(--transition-timing-function);
            font-size: 24px;
            color: var(--primary-color);
            opacity: 0.4;
            border: none;
            outline: none;
            padding: 0px 2px;
            height: 28px;

            &:hover {
                opacity: 1;
            }

            &.filled,
            &[data-selected],
            &.filled>span.material-symbols-outlined,
            &[data-selected]>span.material-symbols-outlined {
                font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
                color: var(--primary-color);
                opacity: 1;
            }
        }
    }
}

.product-card-img {
    position: absolute;
    top: -98px;
    left: -182px;
    width: 680px;
    transform: rotate(-90deg) scale(1);
    object-fit: cover;
    z-index: 1;
    transition: all var(--transition-duration) var(--transition-timing-function);
}

.product-card p {
    position: absolute;
    top: 378px;
    color: var(--grey-color);
    font-family: "Roboto Condensed";
    text-transform: uppercase;
    margin: 2px 30px;
}

.product-card h3 {
    position: absolute;
    top: 400px;
    font-family: "Bebas Neue";
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 116%;
    margin: 0 30px 0 30px;
}


@media only screen and (max-width: 360px) {
    .product-card {
        transform: scale(0.9);
    }
}

@media only screen and (max-width: 1023px) {
    .product-card:hover .product-card-img {
        transform: rotate(-90deg) scale(1);
    }

    .product-card .product-card-actions {
        gap: 16px;

        .product-card-additional-actions {
            gap: 16px;
        }
    }

    .product-card .product-card-actions .product-card-additional-actions {
        opacity: 1;
    }
}