.password-field {
    display: grid;
    grid-template-areas:
        "input button"
        "help help";
    grid-template-columns: 1fr auto;
    align-items: center;
    width: fit-content;

    .react-aria-Input {
        grid-area: input;
        padding: 10px 50px 10px 24px;
        margin: 0;
        height: 48px;
        width: 400px;
        border: none;
        border-radius: 0;
        background: var(--bg-secondary-color);
        font-size: 18px;
        font-family: "Roboto Condensed";
        letter-spacing: 1px;
        font-weight: 400;
        color: var(--primary-color);
        outline: none;

        &::placeholder {
            color: var(--placeholder-color);
            font-weight: 500;
            font-size: 16px;
            text-transform: uppercase;
        }

    }

    .icon-button {
        grid-area: button;
        width: 28px;
        height: 28px;
        margin-left: -44px;
        line-height: 100%;
        vertical-align: middle;
        text-align: center;
        background: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
        outline: none;
    }
}