:root {
    --transition-duration: 0.35s;
    --transition-timing-function: ease-in-out;
    --primary-color: #000000;
    --secondary-color: #FFFFFF;
    --divider-color: #CCCCCC;
    --bg-primary-color: #FFFFFF;
    --bg-secondary-color: #F5F5F5;
    --bg-header-footer-color: #000000;
    --placeholder-color: #3B3B3B;
    --border-color: #000000;
    --border-radius: 16px;
}

header {
    display: flex;
    height: 48px;
    width: 100%;
    padding: 0 40px;
    position: relative;
    top: 0;
    justify-content: end;
    align-items: center;
    background-color: var(--bg-header-footer-color);
}

header>.react-aria-Button {
    color: var(--secondary-color);
    opacity: 0.8;
    padding: 0 0 0 32px;
    font-size: 16px;
    font-family: "Roboto Condensed";
    font-weight: 500;
    letter-spacing: 3px;
    line-height: 150%;
    text-transform: uppercase;
    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    transition: all var(--transition-duration) var(--transition-timing-function);

    &[data-hovered] {
        opacity: 1;

    }

    a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--secondary-color);
    }
}

header span.material-symbols-outlined {
    color: var(--secondary-color);
    font-size: 28px;
    margin-right: 14px;
}

@media only screen and (max-width: 934px) {

    header {
        padding: 0 20px;
    }
}

@media only screen and (max-width: 404px) {

    header>.react-aria-Button>a>p {
        display: none;
    }

    header span.material-symbols-outlined {
        margin-right: 0;
    }
}