footer>.copyright-section {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding-top: 14px;
    width: 100%;
    border-top: solid 1px var(--divider-color);
    opacity: 0.6;
}

footer>.copyright-section>p {
    color: var(--secondary-color);
    font-weight: 300;
    margin-right: 20px;
}

footer .terms-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
}

@media only screen and (max-width: 600px) {

    footer .copyright-section {
        flex-direction: column;
        align-items: center;
        margin-right: 0;

        p {
            text-align: center;
        }
    }

    footer .terms-links {
        justify-content: start;
    }

    footer .terms-links>.terms-links-link:first-child {
        margin-left: 0;
    }
}