.comparison-container {
    display: flex;
    flex-direction: column;
    gap: 46px;
    margin: 20px 0 40px 0;

    &:has(.cards>.product-card:nth-child(3):last-child) {
        width: 1360px;
    }

    &:has(.cards>.product-card:nth-child(2):last-child) {
        width: 960px;
    }

    &:has(.cards>.product-card:nth-child(1):last-child) {
        width: 560px;
    }

    .heading-logo {
        margin-bottom: -20px;
    }

    .cards {
        display: flex;
        gap: 80px;
        padding: 40px 0 40px 240px;
        border-bottom: 1px solid var(--divider-color);
        border-top: 1px solid var(--divider-color);
    }

    .specs {
        display: flex;
        gap: 80px;
        padding-bottom: 60px;
        border-bottom: 1px solid var(--divider-color);

        .specs-labels {
            width: 160px;
            display: flex;
            flex-direction: column;
            gap: 37px;
            margin: 19px 12px 20px 0;
        }

        .specs-content {
            display: flex;
            flex-direction: column;
            margin-left: 30px;
            width: 290px;
        }

    }

    .features {
        display: flex;
        gap: 80px;

        .features-label {
            width: 160px;
            margin: 14px 0 60px 0;
        }

        .features-content {
            ul {
                width: 320px;
                margin: 0 0 100px 0;
                padding: 0 30px;

                li {
                    font-size: 14px;
                    color: var(--primary-color);

                    p {
                        font-size: 14px;
                    }
                }
            }

        }
    }
}

@media only screen and (max-width: 1023px) {
    .comparison-container {
        flex-direction: row;
        gap: 14px;

        &:has(.cards>.product-card:nth-child(2):last-child) {
            width: 100%;
        }

        &:has(.cards>.product-card:nth-child(1):last-child) {
            width: 100%;
        }

        &:has(.cards>.product-card:nth-child(3):last-child) {
            width: 100%;
        }

        .cards,
        .specs,
        .features {
            gap: 40px;
            flex-direction: column;
            border: none;
        }

        .cards {
            width: 220px;
            height: fit-content;
            padding: 20px 0;

            .product-card {
                width: 200px;
                min-width: 200px;
                aspect-ratio: 3/9;

                img {
                    width: 490px;
                    top: 0px;
                    left: -144px;
                }
            }
        }

        .specs {
            .specs-labels {
                display: none;
            }

            .specs-content {
                margin-left: 0;
                gap: 0px;
                height: 600px;
                width: 100px;
                justify-content: baseline;
                padding-top: 20px;
            }
        }

        .features {
            display: none;
        }
    }

    .compare-wrap {
        h1.heading-logo {
            font-size: 36px;
        }
    }
}