.edit-content {

    .edit-features {

        ul {
            padding: 0;

            li {
                display: grid;
                grid-template-columns: 0.5fr 15fr 1fr;
                gap: 8px;
                align-items: center;

                &::before {
                    color: var(--primary-color);
                    content: '•';
                }

                .react-aria-Input {
                    width: 100%;
                }

                .material-symbols-outlined {
                    background: transparent;
                    border: none;
                    cursor: pointer;
                    outline: none;
                    transition: all var(--transition-duration) var(--transition-timing-function);

                    &:hover {
                        color: var(--error-color);
                    }
                }
            }
        }

    }
}