footer>.social-media {
    margin: 10px 0;
}

footer>.social-media>img {
    opacity: 0.8;
    width: 32px;
    height: 32px;
    margin: 18px;
    transition: all var(--transition-duration) var(--transition-timing-function);
}

footer>.social-media>img:hover {
    opacity: 1;
    transform: scale(1.1);
}