.header-link {
    color: var(--secondary-color);
    opacity: 0.8;
    padding: 0 0 0 32px;
    background-color: transparent;
    text-decoration: none;
    border: none;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    transition: all var(--transition-duration) var(--transition-timing-function);

    span.material-symbols-outlined {
        margin-right: 14px;
    }

    p {
        font-size: 16px;
        font-family: "Roboto Condensed";
        font-weight: 500;
        letter-spacing: 3px;
        line-height: 150%;
        text-transform: uppercase;
    }
}

.header-link:hover {
    opacity: 1;
}

@media only screen and (max-width: 710px) {

    .header-link>p {
        display: none;
    }

    .header-link span.material-symbols-outlined {
        margin-right: 0;
    }
}

.auth-link {
    margin: 0 4px;
    color: #008FAF;
    text-decoration: none;
    padding: 2px 6px;
    outline: none;
    transition: all var(--transition-duration) var(--transition-timing-function);

    &:hover {
        background-color: #00AED4;
        color: #ffffff;
    }
}

.terms-link {
    color: var(--secondary-color);
    font-size: 16px;
    font-family: "Roboto Condensed";
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 150%;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border-bottom: solid 1px transparent;
    margin: 0 0 0 24px;
    padding: 0 0 2px 0;
    transition: all var(--transition-duration) var(--transition-timing-function);


    &:hover {
        border-bottom: solid 1px var(--secondary-color);
    }

}