.react-aria-Switch {
    --switch-border-color: #00AED4;
    --background-color: transparent;
    --highlight-background: #00AED4;
    --border-color-pressed: #00a1c6;
    --switch-highlight-background-pressed: #00a1c6;
    --field-background: transparent;
    --focus-ring-color: #000000;
    --color-indicator-background: #ffffff;
}

.react-aria-Switch {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 18px;
    font-size: 1.143rem;
    color: var(--primary-color);
    forced-color-adjust: none;
    margin: 0px 0 24px 2px;

    .indicator {
        width: 48px;
        height: 26px;
        border: 2px solid var(--switch-border-color);
        background: var(--background-color);
        border-radius: 1.143rem;
        transition: all 200ms;

        &:before {
            content: '';
            display: block;
            margin: 1px;
            width: 20px;
            height: 20px;
            background: var(--highlight-background);
            border-radius: 16px;
            transition: all 200ms;
        }
    }

    &[data-pressed] .indicator {
        border-color: var(--border-color-pressed);

        &:before {
            background: var(--switch-highlight-background-pressed);
        }
    }

    &[data-selected] {
        .indicator {
            border-color: var(--highlight-background);
            background: var(--highlight-background);

            &:before {
                background: var(--color-indicator-background);
                transform: translateX(100%);
            }
        }

        &[data-pressed] {
            .indicator {
                border-color: var(--switch-highlight-background-pressed);
                background: var(--switch-highlight-background-pressed);
            }
        }
    }

    &[data-focus-visible] .indicator {
        outline: 2px solid var(--focus-ring-color);
        outline-offset: 2px;
    }
}