.react-aria-SearchField {
    display: grid;
    grid-template-areas:
        "icon input button"
        "help  help help";
    grid-template-columns: 1fr auto;
    align-items: center;
    width: fit-content;
    color: var(--primary-color);

    .react-aria-Input {
        grid-area: input;
        padding: 10px 32px 10px 58px;
        margin: 0;
        height: 48px;
        width: 500px;
        border: none;
        border-radius: 0;
        background: var(--bg-secondary-color);
        font-size: 16px;
        font-family: "Roboto Condensed";
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: 500;
        color: var(--primary-color);

        &::-webkit-search-cancel-button,
        &::-webkit-search-decoration {
            -webkit-appearance: none;
        }

        &[data-focused] {
            outline: none;
        }

        &::placeholder {
            color: var(--placeholder-color);
        }
    }

    span.material-symbols-outlined {
        z-index: 1;
        grid-area: icon;
        margin-right: -28px;
        position: relative;
        right: -16px;
        vertical-align: middle;
        text-align: center;
        cursor: pointer;
    }

    .react-aria-Button {
        grid-area: button;
        width: 28px;
        height: 28px;
        margin-left: -34px;
        font-size: 28px;
        line-height: 100%;
        vertical-align: middle;
        text-align: center;
        background: transparent;
        color: #666666;
        border: none;
        padding: 0;
        cursor: pointer;

        span.material-symbols-outlined {
            z-index: 1;
            position: relative;
            top: -2px;
            right: 16px;
        }

        &[data-pressed] {
            background: transparent;
        }
    }

    &[data-empty] button {
        display: none;
    }
}

@media only screen and (max-width: 700px) {

    .react-aria-SearchField .react-aria-Input {
        width: 400px;
    }
}

@media only screen and (max-width: 580px) {

    .react-aria-SearchField .react-aria-Input {
        width: 300px;
    }
}

@media only screen and (max-width: 340px) {

    .react-aria-SearchField .react-aria-Input {
        width: 280px;
    }
}