.editor-wrap {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 0 0 100px 0;
    margin: 0 auto 60px auto;

    .product-content-container {
        display: grid;
        grid-template-columns: 320px auto;
        justify-content: start;
        gap: 80px;
        align-items: start;
        width: 1160px;
        margin: 0 auto;
        padding: 0 40px 0 40px;

        .product-card {
            cursor: default;
        }

        &:hover .product-card-img {
            transform: rotate(-90deg) scale(1);
        }

    }
}

.react-aria-Form {

    header.editor {
        width: 100%;
        background: var(--editor-header-color);
        margin: 0 0 70px 0;
        height: 70px;
        display: flex;
        justify-content: space-between;
        padding: 0 40px;
        position: sticky;
        z-index: 1000;

        h1 {
            grid-area: heading;
            font-size: 32px;
        }

        .edit-header-buttons {
            display: flex;
            gap: 14px;
        }

        .error-general {
            margin: auto;
        }
    }
}

@media only screen and (max-width: 1162px) {
    .editor-wrap {

        header.editor {
            width: 100%;
        }

        .product-content-container {
            grid-template-columns: auto;
            width: 100%;
            justify-content: center;
            align-items: center;


            >div {
                display: grid;
                grid-template-columns: 320px auto;
                grid-template-rows: repeat(6, 50px);
                grid-template-areas: 'product-card primary-button'
                    'product-card delete-button';
                gap: 40px;

                .product-card {
                    grid-area: product-card;
                }

                .primary-button {
                    grid-area: primary-button;
                }

                .danger-button {
                    grid-area: delete-button;
                }
            }
        }
    }
}

@media only screen and (max-width: 750px) {
    .editor-wrap {
        .product-content-container {
            gap: 0px;
            padding: 0 20px;

            >div {
                grid-template-columns: 320px;
                grid-template-rows: repeat(2, auto);
                grid-template-areas: 'product-card'
                    'primary-button'
                    'delete-button';
                gap: 0;
                margin-bottom: 40px;
            }

            .product-content.edit-content {
                padding: 0 20px;
                max-width: 100%;

                .react-aria-TextField {
                    width: 100%;
                }

                .react-aria-ComboBox {
                    .react-aria-Input {
                        width: 320px;
                    }
                }

                .react-aria-Group {
                    width: 320px;
                    min-width: 320px;
                }
            }
        }
    }
}

@media only screen and (max-width: 640px) {
    .editor-wrap {
        header.editor {
            flex-direction: column;
            height: 130px;
            padding: 10px 20px 20px 20px;
            position: relative;
        }

        .product-content-container {
            .product-content.edit-content {
                padding: 0;

                .react-aria-ComboBox {
                    >div {
                        flex-direction: column;
                        align-items: start;
                    }
                }

                .react-aria-DatePicker {
                    >div {
                        flex-direction: column;
                        align-items: start;
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 400px) {
    .editor-wrap {
        header.editor {
            padding: 10px 20px 38px 20px;
            height: fit-content;
            margin-bottom: 10px;

            .heading-large {
                display: none;
            }

            .edit-header-buttons {
                display: flex;
                flex-direction: column;
                gap: 14px;
            }
        }

        .product-content-container {
            .product-card {
                display: none;
            }

            .product-content.edit-content {
                .edit-features {
                    ul {
                        width: 320px;
                    }
                }
            }
        }
    }
}